{% extends "home.twig" %}

{% block search %}
    <div class="bg-blue-200 p-4 rounded-lg shadow-lg">
        <form method="post">
            {% if validationErrors.amountError %}
                <div class="text-red-500">{{ validationErrors.amountError }}</div>
            {% endif %}

            <br>

            <label class="block font-bold text-blue-800 mb-2">
                Stock Name: {{ symbol }}
            </label>
            <span id="stock-name" class="text-blue-800"></span>

            <br>

            <label class="block font-bold text-blue-800 mb-2">
                Stock Current Price: {{ price }}
            </label>
            <span id="stock-price" class="text-blue-800"></span>

            <br>

        </form>
    </div>
{% endblock %}